form {
    width: 336px;
    text-align: left;
    margin-left: 60px;
    padding: 50px;
    margin-top: 90px;
    background-color: white;
    /*border-radius: 28px;*/
    height: 540px;
    /*opacity: 60%;*/
    border-color: black;
    border-style: solid;
    box-shadow: 5px 10px 18px;
}


/*input[type = email]{
    
     padding-top: 8px;
     font-size: 23px;
     border: none;
     background: transparent;
     border-bottom: 1px solid;
     padding-right: 28px; 
     margin-top: 7px;
     color: black;
     outline: none;

     }*/

input[type=password] {
    padding-top: 8px;
    font-size: 20px;
    width: 305px;
    border: none;
    background: transparent;
    border-bottom: 1px solid;
    padding-right: 28px;
    margin-top: 7px;
    color: black;
    outline: none;
}

input[type=tel] {
    padding-top: 8px;
    font-size: 20px;
    width: 305px;
    border: none;
    background: transparent;
    border-bottom: 1px solid;
    padding-right: 28px;
    margin-top: 7px;
    color: black;
    outline: none;
}

input[type=text] {
    padding-top: 8px;
    font-size: 20px;
    width: 305px;
    border: none;
    background: transparent;
    border-bottom: 1px solid;
    padding-right: 28px;
    /*font-size: 25px;*/
    margin-top: 7px;
    color: black;
    outline: none;
}


/*body{

    /*background-image: url("sea.jpeg");
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    background-size: cover;
  }*/

.header {
    padding-top: 0px;
    font-size: 15px;
}

.size {
    max-width: 700px;
    margin-top: 50px;
    margin: auto;
    max-height: 430px;
}

.name {
    padding-top: 18px;
    font-size: 22px;
}

.mobile-number {
    padding-top: 22px;
    font-size: 22px;
}

.registration-id {
    padding-top: 22px;
    font-size: 22px;
}

.password {
    padding-top: 22px;
    font-size: 22px;
}

.repeat-password {
    padding-top: 22px;
    font-size: 22px;
}

.cancel:hover {
    opacity: 0.5;
}

.register:hover {
    opacity: 0.5;
}

.register {
    padding: 13px;
    margin-top: 20px;
    float: left;
    width: 340px;
    height: 50px;
    font-size: 20px;
    /*border-radius: 25px;*/
    margin-right: 23px;
    background: transparent;
    background-color: purple;
    color: white;
}

.checked {
    margin-top: 12px;
    font-size: 20px;
}

.agreement {
    font-size: 17px;
    /*color: rgb(15, 15, 15);*/
    padding-top: 28px
}

a {
    color: purple;
}

