@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

/* link--->https://www.quackit.com/css/css_color_codes.cfm */



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
 }
 
 body {
    min-height: 100vh;
 }
 
 a {
    text-decoration: none;
    color: aliceblue;
 }
 
 li {
    list-style: none;
 }
 
 h1 {
    color: brown;
    font-size: 29px;
 }
 
 /*side nav bar*/
 .side-menu {
    position: fixed;
    background:  #e67c7c;
    width: 18vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
 }
 
 .side-menu .company {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 
 .side-menu li {
    font-size: 18px;
    padding: 10px 40px;
    color: aliceblue;
    display: flex;
    align-items: center;
 }
 
 .side-menu li:hover {
    background: #c95050;
    color: white;
 }
 
 .container {
    position: absolute;
    right: 0;
    width: 80vw;
    height: 100vh;
 }
 
 .container .header {
    position: fixed;
    top: 0;
    right: 0;
    width: 81vw;
    height: 10vh;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 black;
 }
 
 .btn {
    background-color: orange;
    color: brown;
    padding: 5px 10px;
    text-align: center;
    width: 80px;
 }
 
 .btn:hover {
    color: white;
    background: orange;
    padding: 3px 8px;
    border: 2px solid orange;
 }
 
 .title {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 10px;
    border-bottom: 2px solid orange;
 }
 
 /*table section*/
 table {
    padding: 10px;
 }
 
 th,
 td {
    text-align: left;
    padding: 8px;
    font-size: 19px;
 }
 
 /*upper nav bar*/
 .container .header .nav {
    width: 90%;
    display: flex;
    align-items: center;
    margin-left: 300px;
 }
 
 .container .header .nav .search {
    flex: 3;
    display: flex;
    justify-content: center;
    height: 35.4px;
 }
 
 .container .header .nav .search input[type=text] {
    border: none;
    background: cornsilk;
    padding: 10px;
    width: 50%;
    font-size: 19px;
 }
 
 .container .header .nav .search button {
    width: 40px;
    height: 33.5px;
    border: none;
 }
 
 .container .header .nav .search button img {
    width: 30px;
    height: 30px;
 }
 
 .container .header .nav .user {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 
 .container .header .nav .user img {
    width: 40px;
    height: 40px;
 }
 
 .container .header .nav .user .img-case {
    position: relative;
    width: 50px;
    height: 50px;
 }
 
 .container .header .nav .user .img-case img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
 }
 
 /*dashboard cards*/
 .container .content {
    position: relative;
    margin-top: 10vh;
    min-height: 90vh;
    font-size: 15px;
 }
 
 .container .content .cards {
    font-size: 15px;
    padding: 20px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
 }
 
 .container .content .cards .card {
    width: 250px;
    height: 150px;
    /* background: wheat; */
    background:#fab4b4; 
    margin: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 4px 8px black, 0 6px 17px 0px black;
 }
 
 h3 {
    /* color: brown; */
    color:white;
 }
 
 .container .content .content-2 {
    margin-top: 29px;
    min-height: 50vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
 }
 
 .container .content .content-2 .recent-payments {
    min-height: 50vh;
    flex: 5;
    background:#fab4b4; 
    margin: 0 25px 25px 25px;
    box-shadow: 0 4px 8px black, 0 6px 17px 0px black;
    display: flex;
    flex-direction: column;
 }