* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    
    font-family: 'Poppins', sans-serif;
}



/* The navbar */

body{

    background-color: orange;
}


/* Navbar links */



.title {
    margin-top: 3%;
   
}

.title h1 {
    font-size: 50px;
    margin-bottom: 60px;
    text-align: center;
  
}



/*form*/

input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=email],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}



input[type=password],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


input[type=password-repeat],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=number],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    width: 100%;
    background-color: orange;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: white;
    color: orange;
}


div.complaint-form {
    
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 18px;
    margin-top: 25px;
    width: 650px;
    box-shadow: 0 6px 22px 0 rgba(0, 0, 0, 0.2);
    margin-left: 450px;
    margin-top: 350px;
}

.heading-of-complaint-form {
    text-align: center;
    font-size: 25px;
    padding: 0px;
}

.required {
    color: red;
}

.password {
    padding-top: 12px;
    font-size: 24px;
}

.repeat-password {
    padding-top: 12px;
    font-size: 24px;
}


.agreement {
    font-size: 18px;
    /*color: rgb(15, 15, 15);*/
    /*float: center*/
    padding-left: 0px;
    padding-top: 23px;
}



