@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


.btn {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
   
}

.button{

    border: 1px solid black;
    padding: 10px 30px;
    transition: 0.5s;
    text-decoration: none;
    /*background-color: rgba(255, 255, 255, 0.726);
    color: rgb(0, 0, 0);*/
    background-color: black;
    color: white;
}


.button:hover{
    background-color: white;
    color: black;
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
}

.title h2 {
    color: black;
    font-size: 30px;
}




#counter{

    position: absolute;
    top: 57%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
    color: white;
    font-size: 60px;



}

#increment{

    


    position: absolute;
    top: 65%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
    color: black;
    font-size: 30px;





}
#increment:hover{

    background-color: black;
    color:white;
}

#reset{

    


    position: absolute;
    top: 70%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
    color: black;
    font-size: 30px;





}
#reset:hover{

    background-color: black;
    color:white;
}

.bg-img {
    /*background image*/
    background-image: url("side-pic-2.jpg");
    min-height: 450px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


/*navbar positioning*/

.container {
    position: absolute;
    margin: 20px;
    width: auto;
    padding: 12px;
}


/*navbar fixing*/

.topnav {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.719);
}

.topnav .fa {
    margin-right: 10px;
    font-weight: bold;
}


/*links for navbar*/

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    padding: 12px 14px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.title {
    margin-top: 3%;
}

.title h1 {
    font-size: 39px;
    margin-bottom: 20px;
    text-align: center;
}

.founders-headline {
    margin-top: 9px;
}

.founders-headline h1 {
    font-size: 35px;
    margin-bottom: 60px;
    text-align: center;
}


/*worker's card section*/


body {
    font-family: arial;
}

.mainframe {
    margin: 2%;
}

.card {
    margin-top: 120px;
    width: 18%;
    display: inline-block;
    height: 67px;
    box-shadow: 0px 2px 22px black;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    margin-bottom: 90px;
    /*border-radius: 5px; 
       /* margin: 2%;*/
    margin-left: 87px;
}

.card:hover {
    /*background-color: brown;*/
    box-shadow: 0px 2px 22px rgba(0, 0, 0, 0.575);
}


/*end of worker's card section*/

.image img {
    width: 100%;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

.bio-of-founder {
    text-align: center;
    padding: 10px;
}

h1 {
    font-size: 20px;
}

.description {
    padding: 3px;
    text-align: center;
    padding-top: 10px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

/* button {
    margin-top: 40px;
    margin-bottom: 5px;
    background-color: black;
    border: 1px solid white;
    color: white;
    border-radius: 5px;
    padding: 10px;
    width: 320px;
    font-size: 16px;
}

button:hover {
    background-color: white;
    color: black;
    transition: 0.5s;
    cursor: pointer;
} */


/*card*/

.img-section {
    float: right;
    width: 40%;
    margin-top: 100px;
}

.img-section img {
    width: 100%;
    height: auto;
}

.content-section .title {
    font-size: 28px;
}

.content h3 {
    margin-top: 10px;
    color: black;
    font-size: 20px;
}

